{{view "select" class="form-control" content=view.columnData.form.options optionValuePath="content.val" optionLabelPath="content.label" prompt=view.columnData.form.prompt value=view.value disabled=view.isDisabled maxlength=view.columnData.form.maxlength}}
{{#if view.helpblock}}<p class="help-block">{{view.helpblock}}</p>{{/if}}
